USE [master]
GO
/****** Object:  Database [Empleos2025_Grupo1]    Script Date: 30/8/2025 14:44:27 ******/
CREATE DATABASE [Empleos2025_Grupo1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Empleos2025_Grupo1', FILENAME = N'/var/opt/mssql/data/Empleos2025_Grupo1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Empleos2025_Grupo1_log', FILENAME = N'/var/opt/mssql/data/Empleos2025_Grupo1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Empleos2025_Grupo1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Empleos2025_Grupo1]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[SitioWeb] [varchar](50) NOT NULL,
	[PaisId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPostulacion]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPostulacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudio]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[InstitucionId] [int] NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFinalizacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experiencia]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experiencia](
	[UsuarioId] [int] NOT NULL,
	[Puesto] [varchar](50) NOT NULL,
	[Empresa] [varchar](50) NULL,
	[Desde] [date] NOT NULL,
	[Hasta] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[Puesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabilidadTecnica]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabilidadTecnica](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabilidadUsuario]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabilidadUsuario](
	[UsuarioId] [int] NOT NULL,
	[HabilidadTecnicaID] [int] NOT NULL,
	[EstudioId] [int] NULL,
	[Nivel] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[HabilidadTecnicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Institucion]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institucion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[PaisId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modalidad]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modalidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oferta]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oferta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NULL,
	[Titulo] [varchar](100) NOT NULL,
	[TipoJornadaID] [int] NOT NULL,
	[ModalidadID] [int] NOT NULL,
	[Ubicacion] [varchar](100) NOT NULL,
	[Pais] [int] NOT NULL,
	[Descripcion] [text] NOT NULL,
	[FechaPublicacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Pais__3214EC07BF2BE2A2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postulacion]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postulacion](
	[UsuarioId] [int] NOT NULL,
	[OfertaId] [int] NOT NULL,
	[FechaPostulacion] [date] NOT NULL,
	[Cv] [varchar](200) NOT NULL,
	[EstadoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[OfertaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequisitoHabilidad]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequisitoHabilidad](
	[OfertaId] [int] NOT NULL,
	[IdHabilidadTecnica] [int] NOT NULL,
	[NivelRequerido] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OfertaId] ASC,
	[IdHabilidadTecnica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoJornada]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoJornada](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/8/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](20) NOT NULL,
	[Genero] [char](1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[FechaNacimiento] [date] NOT NULL,
	[SobreMi] [text] NULL,
	[PaisId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([Id], [Nombre], [Email], [Telefono], [SitioWeb], [PaisId]) VALUES (1, N'TechSolutions', N'contacto@techsolutions.com', N'+54 11 5555-1234', N'www.techsolutions.com', 1)
INSERT [dbo].[Empresa] ([Id], [Nombre], [Email], [Telefono], [SitioWeb], [PaisId]) VALUES (2, N'HealthCorp', N'rrhh@healthcorp.com', N'+54 11 4444-5678', N'www.healthcorp.com', 2)
INSERT [dbo].[Empresa] ([Id], [Nombre], [Email], [Telefono], [SitioWeb], [PaisId]) VALUES (3, N'EduFuture', N'info@edufuture.org', N'+54 11 3333-2468', N'www.edufuture.org', 1)
SET IDENTITY_INSERT [dbo].[Empresa] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoPostulacion] ON 

INSERT [dbo].[EstadoPostulacion] ([Id], [Nombre]) VALUES (1, N'Aceptada')
INSERT [dbo].[EstadoPostulacion] ([Id], [Nombre]) VALUES (2, N'Rechazada')
INSERT [dbo].[EstadoPostulacion] ([Id], [Nombre]) VALUES (3, N'Entrevistada')
SET IDENTITY_INSERT [dbo].[EstadoPostulacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudio] ON 

INSERT [dbo].[Estudio] ([Id], [UsuarioId], [InstitucionId], [Titulo], [FechaInicio], [FechaFinalizacion]) VALUES (1, 1, 1, N'Licenciatura en Sistemas', CAST(N'2018-03-01' AS Date), CAST(N'2023-12-15' AS Date))
INSERT [dbo].[Estudio] ([Id], [UsuarioId], [InstitucionId], [Titulo], [FechaInicio], [FechaFinalizacion]) VALUES (2, 2, 2, N'Ingeniería en Informática', CAST(N'2017-03-01' AS Date), CAST(N'2022-12-10' AS Date))
INSERT [dbo].[Estudio] ([Id], [UsuarioId], [InstitucionId], [Titulo], [FechaInicio], [FechaFinalizacion]) VALUES (3, 3, 3, N'Profesorado en Educación', CAST(N'2015-03-01' AS Date), CAST(N'2020-12-05' AS Date))
SET IDENTITY_INSERT [dbo].[Estudio] OFF
GO
INSERT [dbo].[Experiencia] ([UsuarioId], [Puesto], [Empresa], [Desde], [Hasta]) VALUES (1, N'Frontend Developer', N'TechSolutions', CAST(N'2023-01-01' AS Date), NULL)
INSERT [dbo].[Experiencia] ([UsuarioId], [Puesto], [Empresa], [Desde], [Hasta]) VALUES (2, N'Data Analyst Jr', N'HealthCorp', CAST(N'2022-01-15' AS Date), NULL)
INSERT [dbo].[Experiencia] ([UsuarioId], [Puesto], [Empresa], [Desde], [Hasta]) VALUES (3, N'Instructional Designer', N'EduFuture', CAST(N'2021-02-01' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[HabilidadTecnica] ON 

INSERT [dbo].[HabilidadTecnica] ([Id], [Nombre]) VALUES (1, N'JavaScript')
INSERT [dbo].[HabilidadTecnica] ([Id], [Nombre]) VALUES (2, N'Python')
INSERT [dbo].[HabilidadTecnica] ([Id], [Nombre]) VALUES (3, N'Java')
SET IDENTITY_INSERT [dbo].[HabilidadTecnica] OFF
GO
INSERT [dbo].[HabilidadUsuario] ([UsuarioId], [HabilidadTecnicaID], [EstudioId], [Nivel]) VALUES (1, 1, 1, N'A')
INSERT [dbo].[HabilidadUsuario] ([UsuarioId], [HabilidadTecnicaID], [EstudioId], [Nivel]) VALUES (1, 2, 1, N'I')
INSERT [dbo].[HabilidadUsuario] ([UsuarioId], [HabilidadTecnicaID], [EstudioId], [Nivel]) VALUES (2, 3, 2, N'A')
GO
SET IDENTITY_INSERT [dbo].[Institucion] ON 

INSERT [dbo].[Institucion] ([Id], [Nombre], [PaisId]) VALUES (1, N'Universidad de Buenos Aires', 5)
INSERT [dbo].[Institucion] ([Id], [Nombre], [PaisId]) VALUES (2, N'Universidad Nacional de Córdoba', 5)
INSERT [dbo].[Institucion] ([Id], [Nombre], [PaisId]) VALUES (3, N'Instituto Tecnológico de Rosario', 5)
SET IDENTITY_INSERT [dbo].[Institucion] OFF
GO
SET IDENTITY_INSERT [dbo].[Modalidad] ON 

INSERT [dbo].[Modalidad] ([Id], [Nombre]) VALUES (1, N'Presencial')
INSERT [dbo].[Modalidad] ([Id], [Nombre]) VALUES (2, N'Remoto')
INSERT [dbo].[Modalidad] ([Id], [Nombre]) VALUES (3, N'Híbrido')
SET IDENTITY_INSERT [dbo].[Modalidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Oferta] ON 

INSERT [dbo].[Oferta] ([Id], [EmpresaId], [Titulo], [TipoJornadaID], [ModalidadID], [Ubicacion], [Pais], [Descripcion], [FechaPublicacion]) VALUES (1, 1, N'Desarrollador Full Stack', 1, 1, N'Buenos Aires', 5, N'Se busca programador con experiencia en React y Node.js.', CAST(N'2025-08-01' AS Date))
INSERT [dbo].[Oferta] ([Id], [EmpresaId], [Titulo], [TipoJornadaID], [ModalidadID], [Ubicacion], [Pais], [Descripcion], [FechaPublicacion]) VALUES (2, 2, N'Analista de Datos', 2, 2, N'Córdoba', 5, N'Manejo de SQL, Python y Power BI.', CAST(N'2025-08-05' AS Date))
INSERT [dbo].[Oferta] ([Id], [EmpresaId], [Titulo], [TipoJornadaID], [ModalidadID], [Ubicacion], [Pais], [Descripcion], [FechaPublicacion]) VALUES (3, 3, N'Diseñador Instruccional', 1, 3, N'Rosario', 5, N'Creación de cursos digitales y e-learning.', CAST(N'2025-08-07' AS Date))
SET IDENTITY_INSERT [dbo].[Oferta] OFF
GO
INSERT [dbo].[Pais] ([Id], [Nombre]) VALUES (1, N'Australia')
INSERT [dbo].[Pais] ([Id], [Nombre]) VALUES (2, N'Austria')
INSERT [dbo].[Pais] ([Id], [Nombre]) VALUES (3, N'Azerbaiyán')
GO
INSERT [dbo].[Postulacion] ([UsuarioId], [OfertaId], [FechaPostulacion], [Cv], [EstadoId]) VALUES (1, 1, CAST(N'2025-08-02' AS Date), N'https://cv.com/florencia.pdf', 1)
INSERT [dbo].[Postulacion] ([UsuarioId], [OfertaId], [FechaPostulacion], [Cv], [EstadoId]) VALUES (2, 2, CAST(N'2025-08-06' AS Date), N'https://cv.com/lucas.pdf', 2)
INSERT [dbo].[Postulacion] ([UsuarioId], [OfertaId], [FechaPostulacion], [Cv], [EstadoId]) VALUES (3, 3, CAST(N'2025-08-08' AS Date), N'https://cv.com/valeria.pdf', 1)
GO
INSERT [dbo].[RequisitoHabilidad] ([OfertaId], [IdHabilidadTecnica], [NivelRequerido]) VALUES (1, 1, N'I')
INSERT [dbo].[RequisitoHabilidad] ([OfertaId], [IdHabilidadTecnica], [NivelRequerido]) VALUES (1, 2, N'B')
INSERT [dbo].[RequisitoHabilidad] ([OfertaId], [IdHabilidadTecnica], [NivelRequerido]) VALUES (2, 3, N'A')
GO
SET IDENTITY_INSERT [dbo].[TipoJornada] ON 

INSERT [dbo].[TipoJornada] ([Id], [Nombre]) VALUES (1, N'Completa')
INSERT [dbo].[TipoJornada] ([Id], [Nombre]) VALUES (2, N'Parcial')
SET IDENTITY_INSERT [dbo].[TipoJornada] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Genero], [Email], [Password], [Telefono], [FechaNacimiento], [SobreMi], [PaisId]) VALUES (1, N'Florencia', N'Mora', N'F', N'flor.mora@email.com', N'pass123', N'+54 11 1111-1111', CAST(N'2000-05-12' AS Date), N'Apasionada por la tecnología y el diseño.', 5)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Genero], [Email], [Password], [Telefono], [FechaNacimiento], [SobreMi], [PaisId]) VALUES (2, N'Delfina', N'Zapata', N'F', N'delfi@email.com', N'clave456', N'+54 11 2222-2222', CAST(N'1998-03-25' AS Date), N'Analista de datos en constante aprendizaje.', 5)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Genero], [Email], [Password], [Telefono], [FechaNacimiento], [SobreMi], [PaisId]) VALUES (3, N'Daniela', N'Lusco', N'F', N'dani.d@email.com', N'secure789', N'+54 11 3333-3333', CAST(N'1995-11-10' AS Date), N'Especialista en educación digital.', 5)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK__Empresa__PaisId__5070F446] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Pais] ([Id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK__Empresa__PaisId__5070F446]
GO
ALTER TABLE [dbo].[Estudio]  WITH CHECK ADD FOREIGN KEY([InstitucionId])
REFERENCES [dbo].[Institucion] ([Id])
GO
ALTER TABLE [dbo].[Estudio]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Experiencia]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[HabilidadUsuario]  WITH CHECK ADD FOREIGN KEY([EstudioId])
REFERENCES [dbo].[Estudio] ([Id])
GO
ALTER TABLE [dbo].[HabilidadUsuario]  WITH CHECK ADD FOREIGN KEY([HabilidadTecnicaID])
REFERENCES [dbo].[HabilidadTecnica] ([Id])
GO
ALTER TABLE [dbo].[HabilidadUsuario]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Institucion]  WITH CHECK ADD  CONSTRAINT [FK__Instituci__PaisI__60A75C0F] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Pais] ([Id])
GO
ALTER TABLE [dbo].[Institucion] CHECK CONSTRAINT [FK__Instituci__PaisI__60A75C0F]
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresa] ([Id])
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD FOREIGN KEY([ModalidadID])
REFERENCES [dbo].[Modalidad] ([Id])
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD  CONSTRAINT [FK__Oferta__Pais__5441852A] FOREIGN KEY([Pais])
REFERENCES [dbo].[Pais] ([Id])
GO
ALTER TABLE [dbo].[Oferta] CHECK CONSTRAINT [FK__Oferta__Pais__5441852A]
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD FOREIGN KEY([TipoJornadaID])
REFERENCES [dbo].[TipoJornada] ([Id])
GO
ALTER TABLE [dbo].[Postulacion]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[EstadoPostulacion] ([Id])
GO
ALTER TABLE [dbo].[Postulacion]  WITH CHECK ADD FOREIGN KEY([OfertaId])
REFERENCES [dbo].[Oferta] ([Id])
GO
ALTER TABLE [dbo].[Postulacion]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[RequisitoHabilidad]  WITH CHECK ADD FOREIGN KEY([IdHabilidadTecnica])
REFERENCES [dbo].[HabilidadTecnica] ([Id])
GO
ALTER TABLE [dbo].[RequisitoHabilidad]  WITH CHECK ADD FOREIGN KEY([OfertaId])
REFERENCES [dbo].[Oferta] ([Id])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK__Usuario__PaisId__5535A963] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Pais] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK__Usuario__PaisId__5535A963]
GO
USE [master]
GO
